seaborn==0.12.2
plotly==5.10.0
scikit-learn==1.2.2
geopy==2.3.0
prophet==1.1.4
ydata-profiling==4.5.1
folium==0.14.0
dynaconf==3.1.11
loguru==0.7.2
sidetable==0.9.1
pandas
openpyxl==3.1.2
streamlit==1.23.1
streamlit-extras==0.0.1
streamlit-folium==0.12.0
htbuilder==0.6.2